<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link th:replace="fragments/index::fragments-image "/>
    <title th:replace="fragments/index::fragments-title"/>

    <link th:replace="fragments/index::fragments-googleapisFira"/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-tagsinput.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <!--[if lt IE 9]>
		<script th:src="@{/assets/js/html5shiv.min.js}"></script>
		<script th:src="@{/assets/js/respond.min.js}"></script>
	<![endif]-->
</head>

<body>

<div th:replace="fragments/index::navbar"/>
    <div class="main-wrapper">
    
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h4 class="page-title">Registar Professor</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form th:action="@{/imel/professor/registar}"  method="post">
                            <div class="form-group">
                                <label>Nome Completo</label>
                                <input class="form-control" id="nome" name="nome" roleId="nome" th:value="${professor.nome}" placeholder="Digite o nome" type="text" required="required">
                            </div>
                            
                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" id="email" name="email" type="email"   th:value="${professor.email}" roleId="email" placeholder="exemplo@exemplo.com" required="required" >
                            </div>
                            
                                                        
                            <div class="form-group">
                                <label>Telefone</label>
                                <input class="form-control" id="telefone" name="telefone" roleId="telefone" th:value="${telefone.telefone}" type = "tel"  pattern="[0-9]{3}[0-9]{3}[0-9]{3}" placeholder="9xxxxxxxx" required="required">
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        <select class="select" required="required" th:field="*{professor.estadoSexo}">
                                            <option th:each="estado:${estadoSexo}"  th:text="${estado.sexo}" th:value="${estado}"  >Masculino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                        <div class="form-group ">
                                         <label>Data de Nascimento</label>
							             <div class="cal-icon">
                                             <input class="form-control datetimepicker" th:value="${professor.data}"  th:placeholder="${dateFormat}" required="required" placeholder="Escolha a data" name="data" id="data" type="text">
							             </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Bilhete</label>
                                <input class="form-control" id="bilhete" name="bilhete" roleId="bilhete"  th:value="${professor.bilhete}"  type="text" placeholder="009XXXXXXXXXXX" required="required">
                            </div>
                            
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary btn-lg">Salvar</button>
                            </div>
                        </form>

                        <br/>

                        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script type="text/javascript" th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap-tagsinput.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
    
    
    
</body>

</html>