<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link th:replace="fragments/index::fragments-image "/>
    <title th:replace="fragments/index::fragments-title"/>

    <!--
    <link th:replace="fragments/index::fragments-googleapisFira"/>
    <link th:replace="fragments/index::fragments-googleapisMaterial"/>-->

    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/select2.min.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/assets/css/style.css}">

    <style>
        .error{color:red}
    </style>

</head>

<body>

<div th:replace="fragments/index::navbar"/>

<div class="main-wrapper">
    <div class="page-wrapper">
        <div id="edit_asset" class="custom-modal" role="dialog">
            <div class="modal-dialog">

                <!-- <button  type="button" class="close" data-dismiss="modal">&times;</button>-->

                <button type="button" th:onclick="|cancelarButton('/imel/professor/pesquisar')|" class="close" data-dismiss="modal" >&times</button>

                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar Professor</h4>
                    </div>
                    <div class="modal-body">
                         <form id="formulario" name="formulario" th:action="@{/imel/professor/editar}" enctype="multipart/form-data" th:object="${professor}" method="post">

                            <input type="hidden" th:field="*{id}" />

                             <div class="m-b-20">
                                 <div class=" text-center">
                                     <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img th:src="@{${'/assets/imagens/fotoPerfil/' +foto.fotoUrl}}" name="aboutme" width="140" height="140" class="ounded mx-auto d-block img-circle"></a>
                                 </div>
                             </div>


                             <div class="form-group">
                                <label>Nome Completo</label>
                                <input class="form-control" id="nome" name="nome" roleId="nome" th:field="*{nome}" placeholder="Digite o nome" type="text" >
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <input class="form-control" id="email" name="email" type="email"   th:field="*{email}" roleId="email" placeholder="exemplo@exemplo.com" >
                            </div>

                            <div class="form-group">
                                <label>Telefone</label>
                                <input class="form-control" id="telefone" name="telefone" roleId="telefone" th:field="*{telefone}" type = "tel"  pattern="[0-9]{3}[0-9]{3}[0-9]{3}" placeholder="9xxxxxxxx" >
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Sexo</label>
                                        <select class="select" id="estadoSexo" name="estadoSexo" th:field="*{estadoSexo}">
                                            <option th:each="estado:${estadoSexo}"  th:text="${estado.sexo}" th:value="${estado}"  >Masculino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label>Data de Nascimento</label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" th:field="*{data}"  th:placeholder="${dateFormat}"  placeholder="Escolha a data" name="data" id="data" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>

                             <div class="form-group">
                                 <label>Foto tipo Passe</label><p style="display: inline">*(As dimenções de imagem recomendada é de 150 x 150 pixels.)</p>
                                 <input class="form-control" id="fotoP"   name="fotoP" roleId="fotoP"  placeholder="Escolaha a ficheiro" type="file" >
                             </div>

                            <div class="form-group">
                                <label>Bilhete</label>
                                <input class="form-control" id="bilhete" name="bilhete" roleId="bilhete"  th:field="*{bilhete}"  type="text" placeholder="009XXXXXXXXXXX" >
                            </div>

                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary btn-lg">Salvar Alterações</button>
                            </div>

                        </form>

                        <br/>

                        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script type="text/javascript" th:src="@{/assets/js/jquery-1.11.1.js}"></script>
    <script type="text/javascript" th:src="@{/assets/jquery/jquery.validate.js}"></script>
    <script type="text/javascript" th:src="@{/assets/script/validation.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/ButtonCancel.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/app.js}"></script>


</body>

</html>