<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link th:replace="fragments/index::fragments-image "/>
    <title th:replace="fragments/index::fragments-title"/>

    <!--
    <link th:replace="fragments/index::fragments-googleapisFira"/>-->


    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">

    <!--
		<script th:src="@{/assets/js/html5shiv.min.js}"></script>
		<script th:src="@{/assets/js/respond.min.js}"></script>
	-->
</head>

<body>
    <div class="main-wrapper">
        <div class="account-page">
            <div class="container">
                <h3 class="account-title">
                    <table align="center" width=860 height=120 border=1>
                        <tbody>
                            <td>
                                <h2 align="center"> <strong>Inscrições 2019</strong>  </h2>
                                <p4 > Para se Inscrever, aceda com os seguintes dados: <br/></p4>
                                <p4 > Nome de Usúario:  <strong>candidato</strong> <br/></p4>
                                <p4 >Palavra-passe: <strong>candidato</strong> <br/></p4>
                            </td>
                            <td>
                                <h2 align="center"> <strong>Matriculas 2019</strong>  </h2>
                                <p4 > Para se matricular, aceda com os seguintes dados: <br/></p4>
                                <p4 >Nome de Usúario:  <strong>matricula</strong>  <br/></p4>
                                <p4>Palavra-passe: <strong>matricula</strong> <br/></p4>
                            </td>
                        </tbody>
                    </table>
                </h3>
                <div class="account-box">
                    <div class="account-wrapper">
                        <div class="account-logo">
                            <a><img th:src="@{/assets/img/logo.png}" alt="imel"></a>
                        </div>

                        <div class="alert alert-danger" th:if="${param.error}">Nome de usuário ou palavra-passe inválidos.</div>
                        <div class="alert alert-success" th:if="${param.logout}">Sessão terminada.</div>

                        <form th:action="@{/login}" method="post">

                            <div class="form-group form-focus">
                                <label class="control-label">Nome de Usúario</label> 
                                <input id="username" name="username" roleId="username" required="required" class="form-control floating" type="text">
                            </div>

                            <div class="form-group form-focus">
                                <label class="control-label">Palavra-passe</label>
                                <input id="password" name="password" roleId="password" required="required" data-toggle="password"  class="form-control floating" type="password">

                            </div>

                            <div class="form-group text-center">
                                <button class="btn btn-primary btn-block account-btn" type="submit">Entar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap-show-password.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
</body>

</html>