<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link th:replace="fragments/index::fragments-image "/>
    <title th:replace="fragments/index::fragments-title"/>

    <link th:replace="fragments/index::fragments-googleapisFira"/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/dataTables.bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <!--[if lt IE 9]>
		<script th:src="@{/assets/js/html5shiv.min.js}"></script>
		<script th:src="@{/assets/js/respond.min.js}"></script>
	<![endif]-->
</head>

<body>

<div th:replace="fragments/index::navbar"/>
    <div class="main-wrapper">
       
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-xs-8">
                        <h4 class="page-title">Pesquisar Professor</h4>
                    </div>
                    <div class="col-xs-4 text-right m-b-30">
                        <a th:href="@{/imel/professor/registar}" class="btn btn-primary rounded pull-right" data-toggle="modal"><i class="fa fa-plus"></i> Novo Professor</a>
                    </div>
                    
                </div>
            
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="dtOrderExample" class="table table-striped custom-table m-b-0 ">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Número Professor</th>
                                        <th>Nome Completo</th>
                                        <th>Email</th>
                                        <th>Telefone</th>
                                        <th>Sexo</th>
                                        <th>Bilhete</th>
                                        <th>Data de Nascimento</th>
                                        <th class="text-right">Opeções</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="professor : ${professores}">
                                        <td th:text="${professor.id}">1</td>
                                        <td th:text="${professor.numeroProfessor}">imelp1234</td>
                                        <td th:text="${professor.nome}">Adão Bartolomeu</td>
                                        <td th:text="${professor.email}">adaogaspar@homail.com</td>
                                        <td th:text="${professor.telefone.telefone}">923453689</td>
                                        <td th:text="${professor.estadoSexo}">Masculino</td>
                                        <td th:text="${professor.bilhete}">009LA1214563</td>
                                        <td th:text="${professor.data}">Luanda</td>
                                        <td class="text-right">
                                            <div class="dropdown">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="#" title="Edit" data-toggle="modal" data-target="#edit_asset"><i class="fa fa-pencil m-r-5"></i> Editar</a></li>
                                                    <li><a href="#" title="Delete" data-toggle="modal" data-target="#delete_asset"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <div id="delete_asset" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h4 class="modal-title">Elimiar Professor</h4>
                    </div>
                    <form>
                        <div class="modal-body card-box">
                            <p>Tem certeza de que deseja eliminar este profrofessor?</p>
                            <div class="m-t-20"> <a href="#" class="btn btn-default" data-dismiss="modal">fechar</a>
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="edit_asset" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar Professor</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input class="form-control" required="required" type="text" value="Adão Bartolomeu">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input class="form-control" required="required"  type="email" value="adaogaspar@hotmail.com">
                                    </div>
                                </div>
                            </div>
                            
                             <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Telefone</label>
                                        <input id="telefone" name="telefone" roleId="telefone" type = "tel"  pattern="[0-9]{3}[0-9]{3}[0-9]{3}" placeholder="9xxxxxxxx" required="required" class="form-control"  value="924356535">
                                    </div>
                                </div>
                                 <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sexor</label>
                                        <select class="select">
                                            <option>Masculino</option>
                                            <option>Femenino</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                             <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
							             <label class="control-label">Data de Nascimento</label>
							             <div class="cal-icon">
                                             <input class="form-control floating datetimepicker" required="required" name="dateString"value="22/04/2018" id="dateString"  type="text">
							             </div>
                                    </div>
                                </div>
                            </div>
    
                        
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary btn-lg">Salvar Alterações</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/assets/js/ButtonCancel.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/dataTables.bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.slimscroll.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/app.js}"></script>
    
     <script>
         $('#dtOrderExample').DataTable({
             "language": {
                 "sEmptyTable": "Nenhum registro encontrado",
                 "sProcessing": "A processar...",
                 "sLengthMenu": "Mostrar _MENU_ registos",
                 "sZeroRecords": "Não foram encontrados resultados",
                 "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
                 "sInfoEmpty": "Mostrando de 0 até 0 de 0 registos",
                 "sInfoFiltered": "(filtrado de _MAX_ registos no total)",
                 "sInfoPostFix": "",
                 "sSearch": "Procurar:",
                 "sUrl": "",
                 "oPaginate": {
                     "sFirst": "Primeiro",
                     "sPrevious": "Anterior",
                     "sNext": "Seguinte",
                     "sLast": "Último"
                 },
                 "oAria": {
                     "sSortAscending": ": Ordenar colunas de forma ascendente",
                     "sSortDescending": ": Ordenar colunas de forma descendente"
                 }
             }} );
        </script>
    
   
</body>

</html>